<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<tr>
    <td>
        <f:link.action action="list" arguments="{path: folder.identifier}">
            <img src="{f:uri.resource(path:'Icons/Folders/folder.png')}" alt="{folder.name}" />
        </f:link.action>
        <f:link.action action="list" arguments="{path: folder.identifier}">{folder.name}</f:link.action>
        <f:if condition="{folder.properties.tx_filelist.isNew}">
            <span class="label label-default"><f:translate key="newFile" /></span>
        </f:if>
    </td>

    <td class="text-right">
        <f:switch expression="{folder.subfolders -> f:count()}">
            <f:case value="0">
                <f:translate key="directory_size.no_folders" extensionName="myfileList" />
            </f:case>
            <f:case value="1">
                {folder.subfolders -> f:count()} <f:translate key="directory_size.one_folder"  extensionName="myfileList" />
            </f:case>
            <f:defaultCase>
                {folder.subfolders -> f:count()} <f:translate key="directory_size.multiple_folders"  extensionName="myfileList" />
            </f:defaultCase>
        </f:switch>
,
        <f:switch expression="{folder.files -> f:count()}">
            <f:case value="0">
				<f:if condition="{folder.isEmpty}">
					<f:then><f:translate key="no_files"  extensionName="myfileList" /></f:then>
				<f:else>
                	<f:then><f:translate key="directory_size.no_files"  extensionName="myfileList" /></f:then>
				</f:else>
				</f:if>	
            </f:case>
            <f:case value="1">
                {folder.files -> f:count()} <f:translate key="directory_size.one_file"  extensionName="myfileList" />
            </f:case>
            <f:defaultCase>
                {folder.files -> f:count()} <f:translate key="directory_size.multiple_files"  extensionName="myfileList" />
            </f:defaultCase>
        </f:switch>
    </td>
    <td></td>
</tr>
</html>
